@inherits UmbracoViewPage<Umbraco_Gallery.ViewModels.LoginViewModel>
@using Umbraco.Web

@if (!Umbraco.MemberIsLoggedOn())
{<div class="column">
    @using (Html.BeginUmbracoForm("SubmitLogin", "Member", FormMethod.Post, new { id = "login" }))
    {
        @Html.AntiForgeryToken()

        <div class="field half first">
            <label for="name">Username</label>
            @Html.ValidationMessageFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })

        </div>
        <div class="field half first">
            <label for="email">Password</label>
            @Html.ValidationMessageFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        </div>

        <ul class="actions">
            <li><input value="Login" class="button" type="submit"></li>
        </ul>

    }
</div>
        }
        else
        {
        <div class="column" style="height: 100%">
            You are already logged in.
        </div>
        }



