@inherits UmbracoViewPage

@{
var site = Model.Root();
var siteRootIcon = site.Value("icon");
var selection = site.Children.Where(x => x.IsVisible());
}

<nav id="nav">
    <ul>
        <li><a class="nav-link @Html.Raw(Model.Id == site.Id ? "navi-link active" : "")" href="@site.Url"><span class="@siteRootIcon"></span></a></li>
        @foreach (var item in selection)
        {
            var icon = item.Value("icon");
    <li><a class="nav-link @(item.IsAncestorOrSelf(Model) ? "nav-link active" : null)" href="@item.Url"><span class="@icon"></span></a></li>
        }
    </ul>
</nav>