@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Gallery>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Core.Services;
@using Umbraco.Core.PropertyEditors;

@{
    Layout = "Master.cshtml";
}

@*Special header for the sub-pages*@
<header id="header">
    <div><span>@(Model.Root().Value<string>("title"))</span></div>
</header>

<!-- Gallery -->
<section id="galleries">

    <!-- Photo Galleries -->
    <div class="gallery">

        <!-- Filters -->
        <header>
            <h1>@Model.Title</h1>

            @{
                IDataTypeService dataTypeService = Services.DataTypeService;
                IDataType filterTags = dataTypeService.GetDataType(1144); // Change number to your id from the data types section in backoffice
                if (filterTags != null)
                {
                    ValueListConfiguration prevalues = (ValueListConfiguration)filterTags.Configuration;
                    <ul class="tabs">
                        <li><a href="#" data-tag="all" class="button active">All</a></li>
                        @foreach (ValueListConfiguration.ValueListItem item in prevalues.Items)
                        {
                            <li><a href="#" data-tag="@item.Value" class="button">@item.Value</a></li>
                        }
                    </ul>
                }
            }
        </header>

        @{
            var selection = Umbraco.Content(Guid.Parse("9f42fb70-2579-468f-b760-1559e78ea0d9"))
             .Children()
             .Where(x => x.IsVisible())
             .OrderByDescending(x => x.CreateDate);
        }

        <div class="content">
            @foreach (var item in selection)
            {
                var image = item.Value<IPublishedContent>("mainImage");
                var thumb = item.Value<IPublishedContent>("thumbnail");
                var cssFilter = @item.Value("GalleryItemType");

                <div class="media all @cssFilter">
                    <a href="@image.Url"><img src="@thumb.Url" alt="" title="@item.Name" /></a>
                </div>
            }

        </div>
    </div>
</section>
