@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@{
    Layout = null;

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js");

    Html.RequiresJs("/scripts/jquery.validate.min.js");
    Html.RequiresJs("/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("/scripts/jquery.unobtrusive-ajax.min.js");

    Html.RequiresCss("/umbraco/assets/css/main.css");

    Html.RequiresJs("/umbraco/assets/js/jquery.min.js");
    Html.RequiresJs("/umbraco/assets/js/jquery.poptrox.min.js");
    Html.RequiresJs("/umbraco/assets/js/jquery.scrolly.min.js");
    Html.RequiresJs("/umbraco/assets/js/skel.min.js");
    Html.RequiresJs("/umbraco/assets/js/util.js");
    Html.RequiresJs("/umbraco/assets/js/main.js");
}

<!DOCTYPE HTML>

<html>
<head>
    <title>Snapshot by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @Html.RenderCssHere()

</head>
<body>
    <div class="page-wrap">

        @Html.Partial("/Views/Partials/_Navigation.cshtml")

        <section id="main">

            @RenderBody()

           
            @Html.Partial("/Views/Partials/_Footer.cshtml")

        </section>
    </div>

    @Html.RenderJsHere()

</body>
</html>